.div {

    margin:  400px;
    margin-top: 25px;

 

}
body{
    background-color: rgb(228, 243, 229);
}


.class1{
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
   
}
.class1:hover{

    border: 2px solid gray;
}

.class2{

    border: none;
    border-bottom: 1px solid gray ;
    width:  350px;
}

.class3{

    font-size: 18px;

}

#gonder{

    font-size: 16px;
    
}

#reset{

    margin-left: 500px;
    font-size:  16px;

}

.hover:hover{

    background-color: gainsboro;
}


input{

    outline: none;
    padding: 0.5em;

    
}
input:focus{
    border-color: #00233a;
}