*{
    margin: 0;
    padding: 0;   
}
body{
    background-color: aliceblue;
}
.container{
    background-image: linear-gradient(to right, rgba(20, 17, 17, 0.719), rgb(36, 35, 35));
    max-width: 40%;
    margin: 10% auto;
    border-radius: 5px;
    min-height: 40vh;
}
.baslik{
    font-size: 2em;
    margin: 10%;
    background-image: linear-gradient(to right, green,red);
    border: none;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: aliceblue;
}
.input-inf{
    font-size: 1.5em;
    margin-left: 101px;
    
    color: aliceblue;
}
input{
    font-size: .8em;
    margin-left: 60px;
    width: 250px;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 3px;
}
input:focus{
    border: 1.5px solid green;
}
.btn-gonder{
    margin-left: 50.5%;
    background-color: rgba(3, 122, 3, 0.993);  
}
.btn-gonder:hover{
    background-color: rgb(0, 158, 0);
}
.btn{
    font-size: 1.2em;
    margin-top: 5%;
    width: 15%;
    cursor: pointer;
    color: aliceblue;
}
.btn-reset{
    background-color: rgb(151, 0, 0.993);
}
.btn-reset:hover{
    background-color: rgb(204, 0, 0);
}
.sonuc-bilgileri{
    margin-left: 54%;
    font-size: 1.5em;
    margin-top: 3%;
    color: aliceblue;
}
p{
    margin: 5%;
}
.help{
    cursor: help;
    padding: 3px;
    max-width: 24%;
    padding: 1.5%;
    border: 2px solid rgb(146, 146, 50);
    border-radius: 15%;
    background-color: rgb(0, 0, 211);

}

.help:hover{
    background-color: blue;
}

.seviye{
    margin: 0; 
    display: flex;
    text-align: center;
    justify-content: center;
    
    
}

.level{
    margin: 10px;
    
}